{% extends 'base.html.twig' %}

{% block body %}
<main class="home">
    {% if app.user %}
    {% if posts == null %}
    <section class="postFlowNoSub">
        <p>COUCOU</p>
    </section>
    {% else %}
    <section class="postFlow">
        {% for post in posts %}
        <article class="postWrapper">
            <div class="post_header">
                <div>
                    <img class="post_userThumbnail" height="32px" width="32px"
                        src="../assets/thumbnails/{{ post.user.thumbnail }}" alt="Photo de profil">
                    <a href="">{{ post.user.username }}</a>
                </div>
                <div class="triplePoint"></div>
            </div>
            {% for allMedia in post.media %}
            <img class="post_medias" src="../assets/medias/{{ allMedia.url }}" alt="">
            {% endfor %}
            <p>{{ post.description }}</p>
            <p>{{ post.createdAt | date('Y-m-d') }}</p>
            <a href="">Afficher les commentlengt commentaires</a>
            {% set difference = date(post.createdAt).diff(date('now')) %}
            {% set leftDays = difference.days %}
            {% if leftDays == 0 and difference.h > 0 %}
            <a href="">Il y'a {{ difference.h }} heures </a>
            {% endif %}
            {% if leftDays == 0 and difference.h == 0 and difference.i > 0 %}
            <a href="">Il y'a {{ difference.i }} minutes </a>
            {% endif %}
            {% if leftDays == 0 and difference.h == 0 and difference.i == 0 %}
            <a href="">Il y'a {{ difference.s }} secondes </a>
            {% endif %}
            {% if leftDays == 1 %}
            <a href="">Il y'a 1 jour</a>
            {% elseif leftDays > 1 and leftDays <= 6 %} <a href="">Il y'a {{ leftDays }} jours</a>
                {% elseif leftDays > 6 %}
                <a href="">{{post.publication_date|date('j F' )}} </a>
                {% endif %}

                <a href="{{ path('post_like', {'id':post.id}) }}" class="js-like">
                    <div class="postIconWrapper">
                        {% if app.user and post.isLikedByUser(app.user) %}
                        <div class="likeRed likeIcon"></div>
                        {% else %}
                        <div class="likeWhite likeIcon"></div>
                        {% endif %}
                        <div class="bubble"></div>
                        <div class="plane"></div>
                    </div>
                    <div class="savedPostIcon"></div>
                    <span class="js-likes">{{ post.likes|length }}</span>
                </a>
                <span class="js-label">J'aime</span>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    {% endif %}
</main>

<script src="{{ asset('/js/ajax.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}