{% block body %}
<div class="inputBox1" id="input1">
    <div class="sprite logo"></div>
    <h2>Inscrivez-vous pour voir les photos et vidéos de vos amis.</h2>
    <div class="fb"><a href="https://fr-fr.facebook.com/">
            <div class="sprite fbLogo"></div> Se connecter avec Facebook
        </a></div>
    <div class="ou">
        <div class="leftline"></div>
        <p>OU</p>
        <div class="rightline"></div>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.mail, {'attr': {'placeholder': "E-mail"}}) }}
    {{ form_row(form.name, {'attr': {'placeholder': "Nom complet"}}) }}
    {{ form_row(form.username, {'attr': {'placeholder': "Nom d'utilisateur"}}) }}
    {{ form_row(form.password,
    {'attr':
    {'placeholder': "Mot de passe", 'minlenght': '6'},
    })
    }}
    <button type="button" id="next">Suivant</button>
    <p>En vous inscrivant, vous acceptez nos <a href="https://help.instagram.com/581066165581870">Conditions
            générales</a>. Découvrez comment nous recueillons, utilisons et
        partageons vos données en lisant notre <a href="https://help.instagram.com/519522125107875">Politique
            d’utilisation des données</a> et comment nous utilisons les
        cookies
        et autres technologies similaires en consultant notre <a
            href="https://www.instagram.com/legal/cookies/">Politique d’utilisation des cookies.</a></p>
</div>
<div class="inputBox2" id="input2">
    <div class="inputBox2Wrapper">
        <div class="birthday"></div>
        <p>Ajoutez votre date de naissance</p>
        <p>Elle ne sera pas affichée sur votre profil public.</p>
        <div id="toggleModal">
            <p>Pourquoi dois-je indiquer ma date de naissance ?</p>
        </div>
        {{ form_row(form.dob)}}
        <p id="UmustEnterDob">Vous devez entrer votre date de naissance</p>
        <div class="footerDob">
            <p>Utilisez votre propre date de naissance, même si ce compte est destiné à une entreprise, à un animal de
                compagnie
                ou à autre chose</p>
        </div>
        <button class="btn">{{ button_label|default('S\'inscrire') }}</button>
        <button type="button" id="prev">Retour</button>
    </div>
</div>
{{ form_end(form) }}

<div id="modalWrapper">
    <div class="modalContent">
        <div class="modalHeader">
            <div></div>
            <h1>Anniversaires</h1>
            <div id="close">&times;</div>
        </div>
        <div class="modalBody">
            <div class="modalBirthday"></div>
            <h3>Dates de naissance sur Instagram</h3>
            <p>En indiquant votre date de naissance, vous améliorez les fonctionnalités ainsi que les publicités que
                vous
                voyez, et vous nous aidez à protéger la communauté Instagram. Vous retrouverez votre date de naissance
                dans
                les informations personnelles des paramètres de votre compte.</p>
        </div>
        <div class="modalFooter"><a target="_blank" href="https://help.instagram.com/155833707900388">En savoir plus</a></div>
    </div>
</div>
{% endblock %}