{% extends 'base.html.twig' %}

{% block title %}pannel{% endblock %}

{% block body %}
<main class="panel">
    <section class="userPanel">
        <label for="thumbnail_thumbnail">
            <div class="thumbnailWrapper">
                {% if app.user.thumbnail %}
                <img id="userThumbnail" src="../assets/thumbnails/{{ app.user.thumbnail }}"
                    alt="Ajouter une photo de profil">
                {% else %}
                <img id="userThumbnail" src="{{ asset('/assets/defaultThumbnail.jpg') }}"
                    alt="Ajouter une photo de profil">
                {% endif %}
            </div>
        </label>
        {% if app.user.thumbnail is empty %}
        {{ form_start(form) }}
        {{ form_row(form.thumbnail, {'attr': {'id': "file"}}) }}
        {{ form_end(form) }}
        {% endif %}

        <div class="userInfo">
            <div class="userInfo1">
                <h2>{{app.user.username}}</h2>
                <a href="">Modifier profil</a>
                <div id="setting2"></div>
            </div>
            <div class="userInfo2">
                <p><span> {{post|length}}</span> publications</p>
                <p><span>{{follower|length}}</span> abonnés</p>
                <p><span>{{subscription|length}}</span> abonnements</p>
            </div>
            <h1>{{app.user.name}}</h1>
        </div>
    </section>

    <div class="tablistWrapper">
        <div class="tablist">
            <a href="">
                <div class="tablistIcon" id="postIcon"></div>PUBLICATIONS
            </a>
            <a href="">
                <div class="tablistIcon" id="igtvIcon"></div>IGTV
            </a>
            <a href="">
                <div class="tablistIcon" id="savedIcon"></div>ENREGISTREMENTS
            </a>
            <a href="">
                <div class="tablistIcon" id="tagIcon"></div>IDENTIFIÉ(E)
            </a>
        </div>
    </div>

    <section class="userPosts">
        <div class="postWrapper">
            {% if post %}
            {% for posts in post %}
            <div class="postWrapper">
                {% for img in posts.media %}
                <img alt="Image de publication" src="../assets/medias/{{ img.url }}">
                {% endfor %}
                <p>{{ posts.description }}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="defaultpostWrapper">
                    <img height="380px" width="380px" src="{{ asset('/assets/defaultpost.jpg') }}"
                    alt="Petite galerie d'image">
                <div class="defaultPost">
                    <div>
                        <h2>Commencez à capturer et partager vos moments</h2>
                        <h3>Téléchargez l’app pour partager votre première photo ou vidéo.</h3>
                        <div class="appImg">
                            <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo"><img src="{{ asset('/assets/appStore.png')}}" width="136px" height="40px" alt="Télécharger dans l'app Store"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DA13729B6-5897-4AAD-823D-8BF427B93B48%26utm_content%3Dlo%26utm_medium%3Dbadge"><img src="{{ asset('/assets/googlePlay.png')}}" width="134px" height="40px" alt="Disponible sur Google Play"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>




    {# --------------- MODAL #}
    {% if user.thumbnail %}
    <div class="overlay" id="thumbnailModal">
        <div class="modal">
            <h3>Modifier la photo de profil</h3>
            {{ form_start(form) }}
            <label id="importBtn" for="modalFile">Importer une photo</label>
            {{ form_row(form.thumbnail, { 'id': 'modalFile' }) }}
            {{ form_end(form) }}
            <form method="post" action="{{ path('userThumbnail_delete', {'thumbnail': user.thumbnail}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.thumbnail) }}">
                <button id="deleteBtn">Supprimer la photo actuelle</button>
            </form>
            <button id="cancel">Annuler</button>
        </div>
    </div>
    {% endif %}

    <div class="overlay" id="settingModal">
        <div class="modal">
            <button>Changer de mot de passe</button>
            <button>Nametag</button>
            <button>Apps et sites web</button>
            <button>Notifications</button>
            <button>Configentialité et sécurité</button>
            <button>Activité de connexion</button>
            <button>E-mails d'Instagram</button>
            <button>Signaler un problème</button>
            <button>Déconnexion</button>
            <button id="cancel">Annuler</button>
        </div>
    </div>
    {# --------------END MODAL #}
</main>
{% endblock %}